<div class="row my-4 justify-content-center align-items-center">
  <h1 class="text-center">Empleados Agregados</h1>
  <div class="col-12 col-md-3 col-lg-3 mb-4 mb-lg-0">
   
    <div class="card">
      <h5 class="card-header">Hombres</h5>
      <div class="card-body">
        <h2 class="card-text">{{ cantidad.hombres }}</h2>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
    <div class="card">
      <h5 class="card-header">Mujeres</h5>
      <div class="card-body">
        <h2 class="card-text">{{ cantidad.mujeres }}</h2>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
    <div class="card">
      <h5 class="card-header">Total</h5>
      <div class="card-body">
        <h2 class="card-text">{{cantidad.hombres + cantidad.mujeres }}</h2>
      </div>
    </div>
  </div>
</div>

